@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --color-blue: #2f80ec;
  --color-dark-blue: #292c4b;
  --color-white: #fff;
  --color-white-gray: #f6f7fb;
}

html,
body {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 414px; /* Set max-width sesuai dengan ukuran iPhone XR */
  margin: 0 auto; /* Memusatkan konten secara horizontal */
  overflow-y: auto;
}

.mobile-content {
  text-align: center;

  background-color: var(--color-dark-blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Atur lebar konten */
}
